  <span class="todo-toggle {{#if completed}} todo-toggle-complete {{/if}} glyphicon glyphicon-ok"></span>
  <input class="todo-input todo-edit" type="text" value="{{description}}">
  <label class="todo-desc">{{description}}</label>
  <span class="todo-remove glyphicon glyphicon-remove"></span>

