<section id="app" class="todo-container">
  <h2 class="todo-headline">Todos</h2>
  <div class="todo-init">

    <input id="todo-create" class="todo-input" type="text" placeholder="What needs to be done?" autofocus>

    <span id="todo-toggle-all" class="todo-toggle todo-toggle-all glyphicon glyphicon-ok-sign" title="Toggle all todos"></span>

    <span id="todo-remove-all" class="todo-remove todo-remove-all glyphicon glyphicon-remove-circle" title="Remove all completed todos"></span>
  </div>

  <ul id="todo-list" class="todo-list"></ul>
  <footer class="todo-footer">
  </footer>
</section>
