<table id="todo-stats" class="todo-stats">
  <tr>
    <th>Total</th>
    <th>Completed</th>
    <th>Incomplete</th>
  </tr>
  <tr>
    <td>{{totalTodos}}</td>
    <td>{{completedTodos}}</td>
    <td>{{incompleteTodos}}</td>
  </tr>
</table>
