// import { mount } from '@vue/test-utils'
// import TodoList from '@/components/TodoList.vue'

// describe('TodoListView.vue', () => {
//   it('should render an empty list when empty', () => {
//     const todos = [];
//     const wrapper = mount(TodoList, {
//       propsData: { todos }
//     });
//     expect(wrapper.html()).toMatchSnapshot();
//   });
//   it('should render a list when not empty', () => {
//     const todos = [
//       {
//         completed: true,
//         description: 'A completed task',
//       },
//       {
//         completed: false,
//         description: 'An incompete task',
//       }
//     ];
//     const wrapper = mount(TodoList, {
//       propsData: { todos }
//     });
//     expect(wrapper.html()).toMatchSnapshot();
//   });
// });
